body {
  background-repeat: no-repeat;
  background-image: url( src\assets\IMG\Paciente-Pride.png);

}

section.images {

  margin-left: 995px;
  margin-bottom: 500em;
  width: 36px;

}


main h1  {
  color: white;
  margin-left: 20px;
}

main {
  color: white;
  margin-left: 20px;


}

