<div class="header">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <img name="logo" src="assets/IMG/PrideMais-Logo.png" alt="some text" width=320 height=auto>
  <div class="header-right">
    <a routerLink="/">Home</a>
    <a routerLink="/profissionais">Profissionais</a>
    <a routerLink="/pacientes">Pacientes</a>
    <a routerLink="/fale-com-a-gente">Fale com a gente</a>
  </div>
</div>
<router-outlet></router-outlet>
